---
import Layout from "@/layouts/Layout.astro";

const { isAuthenticated, protect } = Astro.locals;

if (!isAuthenticated) {
  return protect();
}
---

<Layout title="Dashboard">
  <div class="container">
    <h1>Dashboard</h1>
    <div class="grid grid-cols-3 grid-rows-8 py-3">
      <div class="row-span-full m-3 h-52 w-52 rounded-full bg-slate-600"></div>
      <h2 class="text-lg">St. Pete Bois</h2>
      <div class="flex items-center gap-3">
        <div class="h-8 w-8 rounded-full bg-green-500"></div>
        <p>Drew Killion</p>
      </div>
    </div>
  </div>
</Layout>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5fr);
    grid-template-rows: repeat(10fr);
  }
</style>
